.App {
  text-align: center;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color: black;
  background-color: rgb(220, 233, 233);

}
.InsertButton{
  color: black;
  cursor: pointer;
  background-color: red;
}
.Taskbutton{
  cursor: pointer;

}


